{% extends "layout.html" %}
{% block body %}
	<h2><i class="fa fa-circle-o-notch"> Varnish Administration GUI</i></h2>
	<br>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Clusters {% if session["vag_group"] == "admin" %}<a href="/manage"><i class="fa fa-wrench fa-lg"></i></a>{% endif %}</h3>
				</div>
				<div class="panel-body">
				{% if clt is string %}
					{{ clt }}
				{% else %}
					{% for key,value in clt.iteritems() %}
						<b><i class="fa fa-angle-double-right"></i> {{ key }}</b> <a href="/cluster_info/{{ key }}"><i class="fa fa-bar-chart-o"></i></a><br>
						{% for va in value %}
							&nbsp;&nbsp;{% if va[3] == "OK" %}<i class="fa fa-circle-o-notch fa-vaok"></i>{% else %}<i class="fa fa-circle-o-notch fa-vanok"></i>{% endif %} {{ va[1] }} ({{ va[2] }})<br>
						{% endfor %}
						<hr>	
					{% endfor %}
				{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-body">
					<table class="table">
					  <thead>
						<tr>
						  <th>VAG Info</th>
						  <th>Total</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td><i class="fa fa-angle-double-right"></i> Cluster</td>
						  <td><span class="label label-default">{{ totalcl }}</span></td>
						</tr>
						<tr>
						  <td><i class="fa fa-circle-o-notch"></i> Varnish</td>
						  <td><span class="label label-default">{{ totalva }}</span></td>
						</tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
