/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 20px;
}

.linha {
	border-bottom: 1px dotted #666666;
	padding-bottom: 3px;
}

.fa-vaok {
	color: #00CB4B;
}

.fa-vanok {
	color: #FF0000;
}
