    {% extends "layout.html" %}
    {% block body %}
        <h2 class="linha"><i class="fa fa-cogs"> Register Cluster</i></h2>
        <form action="register_cluster" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" class="form-control" type="text" name="name" />
			</div>
            <div class="form-group">
                <label for="name">Secret</label>
                <input id="secret" class="form-control" type="text" name="secret" />
			</div>
			All varnish's in this cluster, should have the same secret value.
			<br><br>
           	<button type="submit" class="btn btn-primary">Register</button>
        </form>
    {% endblock %}
