    {% extends "layout.html" %}
    {% block body %}
        <div class="titleBarAdd">&nbsp;&nbsp;&nbsp;&nbsp; Register Varnish</div><br>
        <form action="register_varnish" method="POST">
                <div>Name</div>
                <div><input id="name" class="textbox" type="text" name="name" /> </div>
                <div>IP</div>
                <div><input id="ip" class="textbox" type="text" name="ip" /> </div>
                <div>Cluster (<a href="/cluster">new cluster</a>)</div>
				<select name="cluster">
				{% for cst in clusters %}
                    <option value="{{ cst[0] }}">{{ cst[1] }}</option>
                {% endfor %}
				</select>
				<br><br>
                <div><input type="submit" name="submit" class="textbox" value="Register" /></div>
        </form>
        {% endblock %}
