    {% extends "layout.html" %}
    {% block body %}
        <div class="titleBarPurge">&nbsp;&nbsp;&nbsp;&nbsp; BAN URL</div><br>
        <form action="url_ban" method="POST">
                <div>
					<input id="ban_url" class="textbox_purge" type="text" name="ban_url" />
					<select name="cluster">
                    {% for cst in clusters %}
                        <option value="{{ cst[0] }}">{{ cst[1] }}</option>
                    {% endfor %}
                    </select>
					<input type="submit" name="submit" class="textbox" value="BAN" />
				</div>
        </form>
	<h3>BAN example</h3>
    http://url/uri
    {% endblock %}
