{% extends "layout.html" %}
{% block body %}
	<h2><i class="fa fa-circle-o-notch"> Varnish Administration GUI</i></h2>
	<br>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Clusters <a href="/manage"><i class="fa fa-wrench fa-lg"></i></a></h3>
				</div>
				<div class="panel-body">
				{% for key,value in clt.iteritems() %}
					<b><i class="fa fa-angle-double-right"></i> {{ key }}</b> <a href="/cluster_stats/{{ key }}"><i class="fa fa-bar-chart-o"></i></a><br>
					{% for va in value %}
						&nbsp;&nbsp;{% if va[3] == "OK" %}<i class="fa fa-circle-o-notch fa-vaok"></i>{% else %}<i class="fa fa-circle-o-notch fa-vanok"></i>{% endif %} {{ va[1] }} ({{ va[2] }})<br>
					{% endfor %}
					<hr>	
				{% endfor %}	
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Varnish Hit/Miss</h3>
				</div>
				<div class="panel-body">
    <script type="text/javascript">
	$.get( "/cluster_stats/varnish_carlos01", function( data ) {
		$('#stat').text(data)
 	});
	var auto_refresh = setInterval(
		function () {
			$('#stat').load('/cluster_stats/varnish_carlos01').fadeIn("slow");
		}, 5000)
    </script>
				<pre id="stat"></pre>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
