    {% extends "layout.html" %}
    {% block body %}
        <h2 class="linha"><i class="fa fa-pencil-square-o"> VCL editor</i></h2>
		<form action="vcl_edit" method="POST">
			<div class="form-group">
				<label for="cluster">Cluster</label>
				<select name="cluster" class="form-control">
        		{% for cst in clusters %}
             		<option value="{{ cst[0] }}">{{ cst[1] }}</option>
        		{% endfor %}
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Edit</button>
		</form>
    {% endblock %}
