    {% extends "layout.html" %}
    {% block body %}
	<style type="text/css" media="screen">
    	#editor {
        	display: table;
        	width: 100%;
        	height: 480px;
    	}
		</style>
        <h2 class="linha"><i class="fa fa-pencil-square-o"> VCL editor</i></h2>
		<pre id="editor">
			{{ vcl_data }}
		</pre>
		<script src="/static/edit/ace.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/github");
			editor.getSession().setMode("ace/mode/c_cpp");
		</script>
		<button type="submit" class="btn btn-primary">Edit</button>
    {% endblock %}
